extends ../templates/common

block vars
	- const title = 'Футбол – категория'

block content
	.container.products-title
		h1.focus-title Футбол
	.container.products-grid
		a(href="/constructor.html")
			img(src=imgPath + "products/shirt-1.png", alt="Футбол")
			span Форма

		a(href="/constructor.html")
			img(src=imgPath + "products/shirt-3.png", alt="Баскетбол")
			span Гетры

		a(href="/constructor.html")
			img(src=imgPath + "products/shirt-1.png", alt="Волейбол")
			span Вымпелы

		a(href="/constructor.html")
			img(src=imgPath + "products/shirt-2.png", alt="Регби")
			span Шевроны

		a(href="/constructor.html")
			img(src=imgPath + "products/shirt-1.png", alt="Киберспорт")
			span Сумки
