extends ../templates/common

block vars
	- const title = 'Виды спорта'

block content
	.container
		.products-grid
			a(href="")
				img(src=imgPath + "products/shirt-1.png", alt="Футбол")
				span Футбол

			a(href="")
				img(src=imgPath + "products/shirt-3.png", alt="Баскетбол")
				span Баскетбол

			a(href="")
				img(src=imgPath + "products/shirt-1.png", alt="Волейбол")
				span Волейбол

			a(href="")
				img(src=imgPath + "products/shirt-2.png", alt="Регби")
				span Регби

			a(href="")
				img(src=imgPath + "products/shirt-1.png", alt="Киберспорт")
				span Киберспорт

			a(href="")
				img(src=imgPath + "products/shirt-2.png", alt="Легкая атлетика")
				span Легкая атлетика

			a(href="")
				img(src=imgPath + "products/shirt-1.png", alt="Борьба")
				span Борьба

			a(href="")
				img(src=imgPath + "products/shirt-2.png", alt="Бокс")
				span Бокс

			a(href="")
				img(src=imgPath + "products/shirt-1.png", alt="Другое")
				span Другое
