extends ../templates/common

block vars
	- const title = 'Повседневная одежда'

block content

	article.container.article.article__focused
		h2.focus-title #{title}
		a(href=wildberries target="_blank").wildberries-btn Перейти на Wildberries

	.gallery
		img(src=imgPath + "photos/IMG_3720%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3733%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3759%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3769%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3778%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3795%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3814%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3831%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3860%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3882%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3890%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3909%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3924%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3941%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3959%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3961%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3972%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_3999%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4003%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4007%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4008%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4011%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4024%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4025%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4040%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4044%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4052%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4054%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4071%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4074%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4101%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4103%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4114%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4159%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4179%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4180%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4182%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4228%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4238%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4285%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4288%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4299%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4306%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4307%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4318%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4325%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4332%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4334%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4338%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4359%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4382%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4396%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4408%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4420%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/IMG_4436%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4447%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4451%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4462%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4472%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4474%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4479%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4489%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4561%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4718%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4739%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4904%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4950%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_4952%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_5134%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_5209%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_5274%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/IMG_5307%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3368%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3371%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3410%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3433%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3438%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3440%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3456%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3493%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3511%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3515%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3537%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3559%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3571%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3606%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3623%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3666%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3673%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3690%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3706%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3736%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3761%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3765%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3788%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3806%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3820%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/Безымянный%20кадр3821%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3830%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3872%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/Безымянный%20кадр3873%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3877%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3880%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3890%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3893%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3910%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3936%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3913%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3942%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3965%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр3966%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4004%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4028%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4045%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/Безымянный%20кадр4058%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4090%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/Безымянный%20кадр4093%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4098%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4107%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4127%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4139%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4144%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4170%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4206%20(Custom).jpg", loading="lazy" alt="")
		//- img(src=imgPath + "photos/Безымянный%20кадр4226%20(Custom).jpg", loading="lazy" alt="")
		img(src=imgPath + "photos/Безымянный%20кадр4235%20(Custom).jpg", loading="lazy" alt="")

	article.container.article.article__focused
		a(href=wildberries target="_blank").wildberries-btn Перейти на Wildberries