extends ../templates/main

block vars
	- const title = 'Главная'

block content

	section.hero-section
		.container.hero__title
			h1 Пошив спортивной одежды для любого вида спорта
			div.hero__desktop-actions
				a(href="/categories.html").btn.btn_primary
					span Заказать экипировку

		.container.hero__note
			.hero__advantages
				section
					.hero__icon
						img(src=imgPath + "icons/circles.svg", alt="")
					div Лояльные цены на всю продукцию
				section
					.hero__icon
						img(src=imgPath + "icons/box.svg", alt="")
					div
						| Бесплатная 
						a(href="/delivery.html") доставка 
						| по&nbsp;России&nbsp;*
				section
					.hero__icon
						img(src=imgPath + "icons/honey.svg", alt="")
					div Материалы премиум качества
				section
					.hero__icon
						img(src=imgPath + "icons/layers.svg", alt="")
					div Собственное производство
				section.hero__mobile-actions
					div
						a(href="/categories.html").btn.btn_primary
							span Заказать экипировку
			footer.hero__footer
				| * Бесплатная доставка по&nbsp;России от&nbsp;50&nbsp;000&nbsp;₽

	section.products-section
		.container.focus-title
			h2 Создайте свою экипировку
		include ../modules/slider

	section.tech-section
		.container
			h2.focus-title Используйте лучшие технологии
		.container
			.tech__list
				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/strong-check.svg", alt="")
						.tech__title Высокая прочность
					div Ткань специально разработанна для того, чтобы выдерживать суровые условия интенсивной физической активности

				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/waves.svg", alt="")
						.tech__title Эластичность
					div Сохранять форму и&nbsp;эластичность даже после многократного использования в&nbsp;тяжелых условиях и&nbsp;стирки

				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/hexagon.svg", alt="")
						.tech__title Функциональсть
					div Подходит для высокоинтенсивных видов спорта, таких как бег, тяжелая атлетика, футбол и&nbsp;контактные виды спорта

				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/particles.svg", alt="")
						.tech__title Современные пропитки
					div Пропитка повышает эксплуатационные характеристики материала, делая его прочным, водостойким и&nbsp;дышащим

				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/up.svg", alt="")
						.tech__title Термо регуляция
					div Ткань специально разработана для регулирования температуры тела во&nbsp;время физических нагрузок

				section.tech__item
					.tech__header
						img.tech__icon(src=imgPath + "icons/air.svg", alt="")
						.tech__title Быстрое высыхание
					div Ткань отводить влагу и&nbsp;сохраняет прохладу и&nbsp;комфорт во&nbsp;время интенсивных тренировок

	section.man-section
		.container.man-icons
			img(src=imgPath + "icons/mans/man-1.svg", alt="")
			img(src=imgPath + "icons/mans/man-2.svg", alt="")
			img(src=imgPath + "icons/mans/man-3.svg", alt="")
			img(src=imgPath + "icons/mans/man-4.svg", alt="")
			img(src=imgPath + "icons/mans/man-5.svg", alt="")
			img(src=imgPath + "icons/mans/man-6.svg", alt="")
			img(src=imgPath + "icons/mans/man-7.svg", alt="")
			img(src=imgPath + "icons/mans/man-8.svg", alt="")
			img(src=imgPath + "icons/mans/man-9.svg", alt="")
			img(src=imgPath + "icons/mans/man-10.svg", alt="")
			img(src=imgPath + "icons/mans/man-11.svg", alt="")
		.container.btn-line
			a.btn.btn_primary(href="/category.html") Выбрать экипировку

	section.examples-section
		.container
			h2.focus-title Примеры <br>работы
		.examples__slider
			picture
				img(src=imgPath + "promo/promo-photo-1.jpg", alt="")
			picture
				img(src=imgPath + "promo/promo-photo-2.jpg", alt="")
			picture
				img(src=imgPath + "promo/promo-photo-3.jpg", alt="")
			picture
				img(src=imgPath + "promo/promo-photo-4.jpg", alt="")
			picture
				img(src=imgPath + "promo/promo-photo-5.jpg", alt="")

	section.steps-section
		.container
			h2.focus-title От&nbsp;идеи до <br>реализации

		.container
			.steps__list
				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/blank.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 1
						.steps__title Запрос
						div Получаем от&nbsp;вас запрос, согласовываем наименование и&nbsp;количество изделий

				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/picture-warn.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 2
						.steps__title дизайн
						div По&nbsp;необходимости, разрабатываем дизайн учитывая фирменный стиль вашей организации/команды

				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/picture-check.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 3
						.steps__title Утверждение
						div Утверждаем дизайн макет, согласовываем материалы и&nbsp;виды нанесений

				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/doc-check.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 4
						.steps__title договор
						div Выставляем счет, заключаем договор

				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/hanger.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 5
						.steps__title примерка
						div Отшиваем один образец со&nbsp;всеми нанесениями&nbsp;в&nbsp;готовом виде

				section.steps__item
					.steps__head
						.steps__icon
							img(src=imgPath + "icons/layers-check.svg", alt="")
					.steps__info
						.steps__subtitle Шаг 6
						.steps__title изготовление
						div Утверждаем образец, шьем всю партию
		.container.btn-line
			a.btn.btn_primary(href="") Оставить заявку

	section.about-section
		article.container
			header
				img(src=imgPath + "graphics/legal-advantage-text.svg", alt="Legal Advantage")
			h2.about__title Создаем действительно качественный продукт, который поможет вам в&nbsp;спорте
			.about__text
				p essko&nbsp;&mdash; компания по&nbsp;произовдству спортивной повседневной одежды и&nbsp;экипировки на&nbsp;заказ. Мы&nbsp;предлогаем качественную, функциональную и&nbsp;стильную одежду для спортивных команд, школ&nbsp;и&nbsp;академий различных видов спорта.
				p В&nbsp;своем производстве используем широкий ассортимент современных качественных материалов. Приобретайте essko и&nbsp;наслаждайтесь комфортом и&nbsp;качеством в&nbsp;каждой детали.
			.about__achievements
				section
					header 12
					footer Лет работы
				section
					header >30
					footer Проектов
				section
					header 18
					footer Крупных проектов


	section.form-section
		.container.form__block
			form.form__main.dark-form(action="")
				header.form__header
					.form__title
						| Получите 
						b скидку до&nbsp;40%
						|  для детских школ, академий или спортивных организация
					.form__subtitle Оставьте заявку и&nbsp;получите скидку до&nbsp;40% на&nbsp;первый заказ + бесплатный дизайн принта
				.form__fields
					.timer
						.timer__title Скидка действует
						.timer__value 00:00:02:59

					input(type="text" placeholder="имя")
					input(type="text" placeholder="эл. почта")
					input(type="text" placeholder="телефон")
					input(type="submit" value="Получить скидку" disabled)

					.form__legal
						small
							| Нажимая кнопку «Получить скидку» вы соглашаетесь с&nbsp;
							a(href="/legal.html") Политикой конфиденциальности
			.form__aside
				//- img(src=imgPath + "graphics/sale-40.svg", alt="Скидка 40%")

	section.faq-section
		.container
			h2.focus-title Часто задаваемые вопросы

		.container.accordion__block
			section.accordion__section
				.accordion__question Какой срок производства заказа?
				.accordion__answer Стандартный срок производства заказа 10-15 рабочих дней.Есть возможность произвести заказ в&nbsp;сжатые сроки (от&nbsp;3&nbsp;до&nbsp;7&nbsp;дней), за&nbsp;срочность мы&nbsp;берем дополнительную наценку 20-50%.
			section.accordion__section
				.accordion__question Как происходит разработка дизайна?
				.accordion__answer Высылаем Вам бриф (список вопросов) для составления технического задания.Также, в&nbsp;письме&nbsp;Вы получите наш каталог уже реализованных дизайнов. На&nbsp;основании заполненного брифа, мы&nbsp;согласовываем с&nbsp;Вами устное тз&nbsp;с&nbsp;примерами, озвучиваем стоимость дизайна и&nbsp;приступаем к&nbsp;работе, после получения предоплаты за&nbsp;дизайн. Срок разработки одного дизайна, с&nbsp;учетом внесения правок, 4-7 рабочих дней.
			section.accordion__section
				.accordion__question Стоимость доставки?
				.accordion__answer Мы&nbsp;отправляем заказы компанией СДЭК, стоимость доставки напрямую зависит от&nbsp;Вашего города и&nbsp;общего веса заказа, в&nbsp;среднем стоимость доставки по&nbsp;России от&nbsp;250 до&nbsp;1300р.Доставку до&nbsp;терминала осуществляем бесплатно.
			section.accordion__section
				.accordion__question Как оплатить заказ?
				.accordion__answer Вы&nbsp;можете оплатить заказ по&nbsp;счету на&nbsp;юридические реквизиты компании.Оплату можно производить от&nbsp;физических и&nbsp;юридических лиц.Наши менеджеры проконсультируют, как удобней производить оплату и&nbsp;подготовят необходимую документацию.
